.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* grid-4 */
.cards.grid-4 > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* grid-3 */
.cards.grid-3 > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px 30px;
}

/* grid-2 */
.cards.grid-2 > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px 30px;
}

@media (width <= 768px) {
  .cards.grid-4 > ul, 
  .cards.grid-3 > ul,
  .cards.grid-2 > ul {
   grid-template-columns: unset;
  }
}

/* story card grid */
.section.cards-container.story-links > .default-content-wrapper h2 {
	font-weight: 700;
    font-size: 2.25rem;
    margin: 0 0 36px;
}

.section.cards-container.story-links > .default-content-wrapper p {
	font-size: 19.416px;
	font-weight: 500;
	margin: 0.25em 0 0.5em;
    line-height: 1.4em;
}

.section.cards-container.story-links .cards ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(2, 1fr);
}

.section.cards-container.story-links .cards ul > li { 
	width: 100%;
}

.section.cards-container.story-links .cards ul > li > picture { 
	display: block;
}

.section.cards-container.story-links .cards ul > li > picture > img { 
	display: block;
	object-fit: cover;
	width: 100%;
	height: 400px;
}

.section.cards-container.story-links .cards ul > li .content-wrapper { 
	padding: 60px 20px 20px;
	position: relative;
}

.section.cards-container.story-links .cards ul > li .tag-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.section.cards-container.story-links .cards ul > li .tag-wrapper span {
	display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background-color: rgb(226 35 26 / 100%);
    padding: 10px 20px;
	font-size: 12px;
    font-weight: 600;
	color: var(--light-color);
}

.section.cards-container.story-links .cards ul > li .content-wrapper h4 { 
	font-size: 24px;
	font-weight: 500;
	line-height: 1.5;
	height: calc(1.5em * 2)
}

.section.cards-container.story-links .cards ul > li .content-wrapper .buttons-container {
	display: flex;
	gap: 18px;
	margin-bottom: 18px;
}

.section.cards-container.story-links .cards ul > li .content-wrapper .buttons-container a {
	display: inline-block;
	font-family: var(--lenovo-font);
	box-sizing: border-box;
	text-decoration: none;
	border: 1px solid transparent;
	text-align: center;
	font-style: normal;
	cursor: pointer;
	color: var(--white);
	background-color: var(--lenovo-red);
	margin: 16px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	padding: 12px 22px;
	border-radius: 3px;
}

.section.cards-container.story-links .cards ul > li .content-wrapper .buttons-container a:last-of-type {
	border: solid 1.5px var(--lenovo-red);
	color: var(--lenovo-red);
	background-color: transparent;
}

@media(width <= 686px) {
	.section.cards-container.story-links .cards ul {
		grid-template-columns: repeat(1, 1fr);
	}

	.section.cards-container.story-links .cards ul > li > picture > img { 
		height: 250px
	}
}
