.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}





/* quote variant styles */
.section.columns-container.highlight {
	padding-top: 50px;
	padding-bottom: 50px;
}

.columns.quote > div > div {
	width: 100%;
}

.columns.quote > div a {
	text-decoration: none;
}

/* quote box || left side box */
.columns.quote > div > div:first-of-type {
	background-color: var(--white);
    padding: 55px 70px;
    margin-left: 60px;
}

.columns.quote > div > div:first-of-type > h3 {
	font-weight: 700;
    font-size: 23px;
	line-height: 1.4em;
	margin: 0;
	margin-bottom: 40px;
}

.columns.quote > div > div:first-of-type > h4 {
	font-size: 18px;
    font-weight: 700;
    margin: 32px 0 0;
}

.columns.quote > div > div:first-of-type > p {
	font-size: 14px;
	margin: 0;
}

/* right side */
.columns.quote > div > div:last-of-type {
    margin-right: 60px;
    padding: 0 16px;
}

.columns.quote > div > div:last-of-type h3 {
	color: var(--lenovo-red);
	font-size: 30px;
	font-weight: 700;
	margin: 8px 0 16px;
}

.columns.quote > div > div:last-of-type p {
	margin: 0;
	font-size: 1rem;
    line-height: 1.4rem;
}

.columns.quote > div > div:last-of-type p strong {
	font-weight: 800;
}

.columns.quote > div > div:last-of-type p > a {
	text-decoration: underline;
}


@media (width <= 1280px) {
	.columns.quote > div > div:first-of-type {
		padding: 36px;
	}
}

@media (width <= 900px) {
	.section.columns-container.highlight {
		padding-top: 92px;
		padding-bottom: 92px;
	}

	.columns > div {
		gap: 30px;
	}

	.columns.quote > div > div:first-of-type {
		margin-left: 0;
		padding: 20px 0;
	}

	.columns.quote > div > div:first-of-type > h3 {
		margin: 0 24px;
		font-size: 23px;
	}

	.columns.quote > div > div:first-of-type > p {
		text-align: right;
		margin: 0 24px;
	}

	.columns.quote > div > div:first-of-type > h4 {
		text-align: right;
		margin: 32px 24px 0;
	}

	.columns.quote > div > div:last-of-type {
		margin: 0 20px;
		padding: 0;
	}
}

@media (width <= 686px) {
	.columns.quote > div > div:last-of-type h3 {
		font-size: 22px;
	}
}